@{
    ViewData["Title"] = "Access Denied";
    Layout = "_LayoutUser";
}

<style>
    .center-content {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        
    }

    h1{
        color: red;
    }

    p{
        color:red;
    }
   
</style>

<div class="center-content">
    <h1>Access Denied</h1>
    <p>You do not have the necessary authorization to access this page.</p>
</div>
