@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="/css/Button.css">

<style>


    .right h1 {
        font-size: 3rem;
        margin-bottom: 20px;
        color: #f6f6f6;
    }

    .right p {
        font-size: 1.5rem;
        margin-bottom: 30px;
        color: #f6f6f6;
    }







    a {
        text-decoration: inherit;
        color: inherit;
        cursor: auto;
    }



    .container {
        /*margin-top:80px;*/

        display: flex;
        gap: 40px;
        justify-content: center;
        align-items: center;
        z-index: 20;
    }

</style>

<div class="container section">
    <div class="left">
        <div class="image">
            <img src="./Images/undraw_product_iteration_kjok-removebg-preview.png" width="500" />
        </div>
    </div>
    <div class="right">
        <h1>Welcome to the Product Management System</h1>
        <p>Effortlessly manage your products, all in one place.Log in or register to get started on your journey.</p>

        @* <a href="@Url.Action("Login", "Account")" class="button">
        Log In
        </a>*@
        <div class="buttons">
            <a href="@Url.Action("Login", "Account")" class="button">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Login
            </a>

            <a href="@Url.Action("Register", "Account")" class="button">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Register
            </a>
        </div>




    </div>
</div>
