@using Microsoft.AspNetCore.Identity;
@model ProductManagement.Models.ViewModel.UserDashboardViewModel

@{
    ViewData["Title"] = "User Dashboard";
    Layout = "_LayoutUser";
}


<style>
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    h2 {
        color: aliceblue;
    }
</style>

<div class="container">
    <h2>Welcome to the User Dashboard</h2>
    
</div>
