@model ProductManagement.Models.ViewModel.AdminDashboardViewModel

@{
    ViewData["Title"] = "Admin Dashboard";
    Layout = "_LayoutAdmin";
}

<style>
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    h2{
        color:aliceblue;
    }
</style>


<div class="container">
    <h2>Welcome to the Admin Dashboard</h2>
</div>
